<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        <meta charset="utf-8" />
        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
        {# Articles can override this with your own description/keywords #}
        <meta name="description" content="{% block description %}{{ SITE_DESCRIPTION }}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{{ SITE_KEYWORDS }}{% endblock %}">
        {% if not WEBASSETS %}
            <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
        {% else %}
            <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/external.css">
            {# Versioning by query string or filename #}
            {# see: http://elsdoerfer.name/docs/webassets/expiring.html #}
            {% if not WEBASSETS_VERSION_IN_FILENAME %}
                {% assets filters="cssmin", output="css/style.min.css", "css/reset.css", "css/pygment.css", 
                        "css/style.css", "css/style_gbzando.css" %}
                    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
                {% endassets %}
                {% assets filters="cssmin", output="css/style_mobile.min.css", "css/style_gbzando_mobile.css" %}
                    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}" media="screen and (max-device-width: 767px)" >
                {% endassets %}
            {% else %}
                {% assets filters="cssmin", output="css/style.%(version)s.min.css", "css/reset.css", "css/pygment.css", 
                        "css/style.css", "css/style_gbzando.css" %}
                    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
                {% endassets %}
                {% assets filters="cssmin", output="css/style_mobile.%(version)s.min.css", "css/style_gbzando_mobile.css" %}
                    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}" media="screen and (max-device-width: 767px)" >
                {% endassets %}
            {% endif %}
        {% endif %}
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}

        {# External scripts
           As they aren't inner scripts, there is no need to use webassets.

           MathJax library - Parsing TeX, LaTex, MathML and AsciiMath
           See: http://docs.mathjax.org/en/latest/start.html
                http://www1.chapman.edu/~jipsen/mathml/asciimath.html
                http://www1.chapman.edu/~jipsen/mathml/asciimathsyntax.html
        #}
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
        <!--[if IE]>
            <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% if not WEBASSETS %}
            <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery-2.1.4.js"></script>
        {% else %}
            {# Versioning by query string or filename #}
            {# see: http://elsdoerfer.name/docs/webassets/expiring.html #}
            {% if not WEBASSETS_VERSION_IN_FILENAME %}
                {% assets filters="jsmin", output="js/scripts.min.css", "js/jquery-2.1.4.js" %}
                    <script type="text/javascript" src="{{ SITEURL }}/{{ ASSET_URL }}">
                {% endassets %}
            {% else %}
                {% assets filters="jsmin", output="js/scripts.%(version)s.min.css", "js/jquery-2.1.4.js" %}
                    <script type="text/javascript" src="{{ SITEURL }}/{{ ASSET_URL }}">
                {% endassets %}
            {% endif %}
        {% endif %}
</head>

<body id="index" class="home">
{% include 'github.html' %}
        <header id="banner" class="body">
            <div id="title_wrapper">
                <h1><a href="{{ SITEURL }}/">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
                <div id="mobile"><div id=mobile_wrapper><span></span></div></div>
                <div class="clear"></div>
            </div>
            <nav>
            <ul>
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU -%}
                {% for pg in PAGES %}
                    <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
                {% endfor %}
                {% endif %}
                {% if DISPLAY_CATEGORIES_ON_MENU -%}
                {% for cat, null in categories %}
                    <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
                {% endif %}
            </ul>
            </nav>
        </header><!-- /#banner -->
        {% block content %}
        {% endblock %}
        <section id="extras" class="body">
        {% if LINKS %}
                <div class="blogroll">
                        <h2>Sites recomendados</h2>
                        <ul>
                        {% for name, link in LINKS %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                        </ul>
                </div><!-- /.blogroll -->
        {% endif %}
        {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
                <div class="social">
                        <h2>Redes sociais</h2>
                        <ul>
                            {% if FEED_ALL_ATOM %}
                            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate">Feed de notícias</a></li>
                            {% elif FEED_ALL_RSS %}
                            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate">Feed de notícias</a></li>
                            {% endif %}

                        {% for name, link in SOCIAL %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                        </ul>
                </div><!-- /.social -->
        {% endif %}
        </section><!-- /#extras -->

        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                {% if CREATIVE_COMMONS %}
                    {% include 'creative.html' %}
                {% else %}
                © 2013 GBzando.com.br
                {% endif %}
                </address><!-- /#about -->
                <address id="note" class="vcard body">
                Site desenvolvido em <a href="http://getpelican.com/">Pelican</a>, ferramenta desenvolvida usando <a href="http://python.org">Python</a>.
                </address><!-- /#copyright -->

        </footer><!-- /#contentinfo -->

{% include 'analytics.html' %}
{% include 'piwik.html' %}

<script type="text/javascript">

(function() {
    window.is_mobile = ($(window).width() > 768) ? false : true;

    // Mobile event triggering
    $(window).resize(function() {
        if (window.is_mobile && $(window).width() > 768) {
            window.is_mobile = false;
            $(window).trigger("mobile:false");
        } else if ((! window.is_mobile) && $(window).width() <= 768) {
            window.is_mobile = true;
            $(window).trigger("mobile:true");
        }
    });

    // Register menu mobile in mobile mode
    $(window).on("mobile:true", function() {
        $('#mobile_wrapper').on('click', function(){
            $('#mobile_wrapper').toggleClass("active");
            $('#banner nav').toggleClass("active");
        });
    });
    // Unregister menu mobile in big screen mode
    $(window).on("mobile:false", function() {
        $('#mobile_wrapper').removeClass("active");
        $('#banner nav').removeClass("active");
        $('#menu-trigger').off('click', false);
    });

    // First mobile trigger
    $(window).trigger("mobile:" + window.is_mobile);
})();

</script>

{% include 'disqus_script.html' %}
</body>
</html>
