/* GBzando custom styles */

/* General */
.body {
    width: auto;
}
body {
    width: 90%;
    min-width: 800px; 
    margin-left: auto;
    margin-right: auto;
}
#about, #banner nav, #banner nav ul {
    width: auto;
}
#featured, #content {
    width: 95%;
    min-width: 760px; 
}

article h2 {
    color: #C74451;
    font-size: 1.714em;
    margin-bottom: 0.333em;
    margin-top: 0.5em;
}

/* Blogroll */
#extras div.blogroll a {
    background-position: 3px 6px;
    background-repeat: no-repeat;
    padding-left: 25px;
}
    .blogroll a[href*='www.vialink.com.br'] {background-image: url('../images/icons/vialink.png');}
    .blogroll a[href*='docs.python.org'] {background-image: url('../images/icons/python.png');}
    .blogroll a[href*='www.linux.com'] {background-image: url('../images/icons/linux.png');}

/* Code highlight */
td.linenos, td.code {
    padding: 0;
}
td.linenos {
    width: 3%;
    color: #C74451;
}
table.highlighttable pre {
    margin: 0;
}
table.highlighttable .na {
    color: #06287E;
}
pre, code {
    font-size: 1.1em;
}
/* Fix typografy css confict with pygments */
/* XXX Typografy temporary disabled
pre .amp {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
}
.amp {
    color: inherit;
}
*/

/* Creative commons */
#about a.img {
    background: none;
    text-shadow: none;
    float: right;
}

/* Disqus */
div.comments {
    padding-top: 10px;
}
div#disqus_thread {
    padding: 20px;
    background: #EEEEEE;
}
small {
       font-size: 0.8em;
}
/* Fixin bug accourding to support #300245 */
a, a div#disqus_thread {
    color: #C74350;
}

/* Author */
.author-content img {
    float: right;
    margin: 0 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.entry-content.author-content ul {
    list-style: none outside none;
    margin: 0;
} 
.entry-content.author-content li {
    float: left;
    margin: 0 20px 0 0;
    min-width: 40px;
    border-bottom: 1px solid #FFFFFF;
}
.entry-content.author-content ul a {
    background-position: 3px 6px;
    background-repeat: no-repeat;
    padding: 4px 5px 6px 25px;
    display: block;
}

/* Icons */
.entry-content.author-content ul a[href*='about.me'] {background-image: url('../images/icons/aboutme.png');}
.entry-content.author-content ul a[href*='bitbucket.org'] {background-image: url('../images/icons/bitbucket.png');}
.entry-content.author-content ul a[href*='delicious.com'] {background-image: url('../images/icons/delicious.png');}
.entry-content.author-content ul a[href*='digg.com'] {background-image: url('../images/icons/digg.png');}
.entry-content.author-content ul a[href*='facebook.com'] {background-image: url('../images/icons/facebook.png');}
.entry-content.author-content ul a[href*='gitorious.org'] {background-image: url('../images/icons/gitorious.png');}
.entry-content.author-content ul a[href*='github.com'],
.entry-content.author-content ul a[href*='git.io'] {background-image: url('../images/icons/github.png');}
.entry-content.author-content ul a[href*='gittip.com'] {background-image: url('../images/icons/gittip.png');}
.entry-content.author-content ul a[href*='plus.google.com'] {background-image: url('../images/icons/google-plus.png');}
.entry-content.author-content ul a[href*='groups.google.com'] {background-image: url('../images/icons/google-groups.png');}
.entry-content.author-content ul a[href*='news.ycombinator.com'],
.entry-content.author-content ul a[href*='hackernewsers.com'] {background-image: url('../images/icons/hackernews.png');}
.entry-content.author-content ul a[href*='last.fm'], .social a[href*='lastfm.'] {background-image: url('../images/icons/lastfm.png');}
.entry-content.author-content ul a[href*='linkedin.com'] {background-image: url('../images/icons/linkedin.png');}
.entry-content.author-content ul a[href*='reddit.com'] {background-image: url('../images/icons/reddit.png');}
.entry-content.author-content ul a[type$='atom+xml'], .social a[type$='rss+xml'] {background-image: url('../images/icons/rss.png');}
.entry-content.author-content ul a[href*='slideshare.net'] {background-image: url('../images/icons/slideshare.png');}
.entry-content.author-content ul a[href*='speakerdeck.com'] {background-image: url('../images/icons/speakerdeck.png');}
.entry-content.author-content ul a[href*='stackoverflow.com'] {background-image: url('../images/icons/stackoverflow.png');}
.entry-content.author-content ul a[href*='twitter.com'] {background-image: url('../images/icons/twitter.png');}
.entry-content.author-content ul a[href*='vimeo.com'] {background-image: url('../images/icons/vimeo.png');}
.entry-content.author-content ul a[href*='youtube.com'] {background-image: url('../images/icons/youtube.png');}
.entry-content.author-content ul a[href*='disqus.com'] {background-image: url('../images/icons/disqus.png');}

/* Tag cloud */
/* See: http://docs.getpelican.com/en/3.3.0/settings.html#tag-cloud */
ul.tagcloud {
    list-style: none;
    padding: 0;
}
ul.tagcloud li {
    display: inline-block;
    margin: 0 5px;
}
li.tag-0 {
    font-size: 180%;
}
li.tag-1 {
    font-size: 140%;
}
li.tag-2 {
    font-size: 100%;
}
li.tag-3 {
    font-size: 80%;
}

/* TOC */
a.toclink {
    text-decoration: none;
}
a.toclink:hover {
    background-color: transparent;
    text-shadow: none;
    color: #C74350;
}
a.toclink:hover:after {
    content: " $";
    font-size: 0.8em;
    color: #FFCCCC;
}
div.toc {
    background-color: #EEEEEE;
    font-size: 0.8em;
    padding: 4px 6px 6px 2px;
    float: left;
    margin-bottom: 10px;
}
div.toc + h2 {
    clear: both;
}
div.toc ul {
    list-style: none;
    margin-left: 0.6em;
}
div.toc ul li:before {
    content: "> ";
    width: 0.8em;
    color: #C74350;
}
/* h3...h6 TOC */
h3 a.toclink, h4 a.toclink, h5 a.toclink, h6 a.toclink {
    color: #000000;
}
h3 a.toclink:hover, h4 a.toclink:hover, h5 a.toclink:hover, h6 a.toclink:hover,
h3 a.toclink:visited, h4 a.toclink:visited, h5 a.toclink:visited, h6 a.toclink:visited {
    color: #000000;
}
h3 a.toclink:hover:after, h4 a.toclink:hover:after, h5 a.toclink:hover:after, 
        h6 a.toclink:hover:after {
    color: #CCCCCC;
}

/* MathJax */
.MathJax {
    
}
